 *{
  margin: 0;
  padding: 0;
}
 .container{
  max-width: 1450px;
  width: 100%;
  margin: 0 auto;
}
a{
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
  &:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
    transition: 0.5s ease;

}
}
.world{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 25px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}
.hero{ 
  width: 900px; 
  height: 500px; 
  background:url("https://images.techinsider.ru/upload/img_cache/bf0/bf0db22ca7ac60ff0c530248a86c5aa3_cropped_666x500.jpg")no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 20px; 
  margin: 20px; 
  border-radius: 10px;  
}
 